.git
.github
.idea
.phpunit.cache
.DS_Store
_constants.php
_install/data/caches/*
!_install/data/caches/keep
_install/data/logs/*
!_install/data/logs/keep
_install/vendor
_protected/app/configs/config.ini
_protected/data/backup/*
_protected/data/cache/*
_protected/data/log/*
_protected/data/tmp/*
_protected/vendor
build
data/*
!data/index.html
!data/system
