.top_nav {
    margin:auto 0 25px;
    padding: 7px 1px 0 1px;
    background: #7d7d7d url(../img/gradient.png) repeat-x 0 -110px;
    line-height: 100%;
    border-radius: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
.top_nav li {
    margin: 0 1px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
    z-index:999;
}

/* main level link */
.top_nav a {
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;
    border-radius: 1.6em;
    text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
.top_av a:hover {
    background: #000;
    color: #fff;
}

/* main level link hover */
.top_nav .current a, .top_nav li:hover > a {
    background: #666 url(../img/gradient.png) repeat-x 0 -40px;
    color: #444;
    border-top: solid 1px #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0, .2);
    text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
.top_nav ul li:hover a, .top_nav li:hover li a {
    background: none;
    border: none;
    color: #666;
    box-shadow: none;
}
.top_nav ul a:hover {
    background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
    color: #fff !important;
    border-radius: 0;
    text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
.top_nav li:hover > ul {
    display: block;
}

/* level 2 list */
.top_nav ul {
    display: none;

    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 35px;
    left: 0;
    background: #ddd url(../img/gradient.png) repeat-x 0 0;
    border: solid 1px #b4b4b4;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
.top_nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.top_nav ul a {
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
.top_nav ul ul {
    left: 181px;
    top: -3px;
}

/* rounded corners of first and last link */
.top_nav ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.top_nav ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

/* clearfix */
.top_nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.top_nav {
    display: inline-block;
}
.bottom_nav{float:right;}
.bottom_nav a{text-decoration:underline;}

