.pagination {
  margin: 3px;
  padding: 3px;
  text-align:center;
}

.pagination a, .pagination span.pages, .pagination span.dots, .pagination span.current {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 1px 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none !important;
  color: #717171 !important;
  font-size: smaller !important;
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  text-shadow: white 0 1px 0;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
  /* IE10 */
  background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #f9f9f9, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
  /* IE6–IE9 */
}

.pagination a:hover, .pagination a:focus {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
  /* IE10 */
  background-image: -o-linear-gradient(top, #fefefe, #fafafa);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
  /* IE6–IE9 */
}

.pagination span.current {
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.75);
  border-color: #505050 !important;
  color: #f2f2f2 !important;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* IE10 */
  background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
  /* IE6–IE9 */
}
